<%- include("partials/header")%>

<div class="container2">
<p id="uname"> <%= currentUser %></p>
<h1>Tourism In Pokhara</h1>
<p>Pokhara is a touristic place. Thousands of tourist visit Pokhara every year. Many tourists donot know all the places to visit in Pokhara. Thus, they return without visiting those places and regret later. Therefore, we have created this webpage to help domestic and international toursits visit major touristic places of Pokhara. We are also here to suggest them about the things they should try in Pokhara.</p>
<hr>
<iframe class="video"  src="https://www.youtube.com/embed/npxAFD84mqk?autoplay=0&mute=1" >
</iframe>

<hr>

<h4> We have categorised some famous places of Pokhara according to their types. Select one of them to know more about it </h4>
<div class="selectable" style="margin-bottom: 125px;">
<select onchange="la(this.value)" class="select">
    <option disabled selected>Search some famous places in Pokhara: </option>
    <option value="/home/caves"> Caves</option>
    <option value="/home/lakes"> Lakes </option>
    <option value="/home/hills"> Hills </option>
    <option value="/home/cultural"> Cultural Places </option>
    <option value="/home/sports"> Adventure Sports </option>
</select>
</div>
<hr>
<div id="recommend">
    <button onclick="toogleresult()"> Get Recommendation </button>
</div>

<div id="result">
<% recommended.forEach(function(place){ %>
 <% if (place[1]>3){ %>
  <table width="50%">
    <tr>
      <td><%= place[0] %></td>
      <!-- <td><%= place[1].toFixed(3) %></td> -->
    </tr>
  </table>
      
     <!-- <h2><%= place[0] %> </h2>
      <h2> <%= place[1].toFixed() %> </h2> -->
           
        
<% }}) %>
</div>


</div>

<%- include("partials/footer") %>